body {
 
background: linear-gradient(rgba(10,49,79,.79),rgba(0,15,42,.89)), 
url('img/bg1.jpg') no-repeat center;
background-size: cover;
margin: 0;


}


.container {
width: 90%;
margin: 0 auto;
}

header {
background: rgb(29, 122, 243);

}
header::after {
content: '';
display: table;
clear: both;


}
.logo {
width: 15em;
height: auto;
}

nav {
display: flex;
align-items: center;
float: right;
font-family: 'Poppins', sans-serif;
font-weight: bold;
}

nav ul {
margin: 0;
padding: 0;
list-style: none;
}

nav li {
display: inline-block;
margin: 0 4em;

padding-top: 3em;
}

nav a {
color: #1b1b1b;
text-decoration: none;
text-transform: uppercase;
font-size: 175%;
}

nav a:hover {
    color: rgb(187, 185, 185);
}

#myCarousel {
    display: inline-block;
    width: 50em; 
    margin-left: 25em;   
}

.twitter-timeline {
    float: right;
    margin-right: 5em;
}

footer {
    width: 100%;
    background-color: rgb(29, 122, 243);
    margin-top: 250px;
    padding: 20px 0px;
}

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    margin-left: 3%;
    width: 30%;
    padding: 30px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .arkiv{
    color:black;
    font-size: 21px;
    text-align: center;
    border: 0px;
    margin: 0 10em;
    background: white;
    word-wrap: break-word;
    white-space: pre;
  }