body {
    background-color: #002554 !important;
margin: 0;


}


.container {
width: 90%;
margin: 0 auto;
}

header {
background: rgb(29, 122, 243);

}
header::after {
content: '';
display: table;
clear: both;


}
.logo {
width: 15em;
height: auto;
}

nav {
display: flex;
align-items: center;
float: right;
font-family: 'Poppins', sans-serif;
font-weight: bold;
}

nav ul {
margin: 0;
padding: 0;
list-style: none;
}

nav li {
display: inline-block;
margin: 0 4em;

padding-top: 3em;
}

nav a {
color: #1b1b1b;
text-decoration: none;
text-transform: uppercase;
font-size: 175%;
}

nav a:hover {
    color: rgb(187, 185, 185);
}

#myCarousel {
    display: inline-block;
    
}

.twitter-timeline {
    float: right;
    margin-right: 5em;
}

footer {
    width: 100%;
    background-color: rgb(29, 122, 243);
    margin-top: 150px;
    padding: 20px 0px;
}

